$skin = #eceed9
$beforeSkin = #fdbf86
$beforeSkinDark = #ca9870
$mouthH = 3rem
$mouthColor = #ed2629
$noseH = 1rem
$eyeBorder = 3rem
$eyeH = 1.6rem
$eyeColor = #ed2528
$eyebrowColor = #221d21
$beforeEye = 2rem
$hairColor = #212127
$BGColor = #6a5c7f

$animationTime = 4s

/***********************************/
size(heightV,widthV = 0)
  height heightV
  if widthV==0
    width heightV
  else
    width widthV

half-circle(heightV)
  size(heightV,heightV*2)
  border-radius:0 0 heightV heightV ;

horizontal-center()
  left:50%;
  transform:translateX(-50%)

scare(direction = to bottom)
  background: linear-gradient(direction,#cecebf 0%,#eceed9 100%);

animationGo(name)
  animation:name $animationTime linear infinite alternate;
  animation-play-state: inherit;
  
/***********************************/
#cover
  size(10rem,31rem)
  border-radius 50%;
  background $BGColor
  horizontal-center()
  top: 7rem;
  z-index -3
  animationGo(backgroundChange)

#clothes
  top: 15rem;
  width: 12rem;
  horizontal-center()
  border-top 8rem solid #1a2a44
  border-left 5rem solid transparent
  border-right 5rem solid transparent
  z-index -4
  animationGo(clothesChange)

body
  background: $BGColor;
  animationGo(backgroundChange)
  width: 100%;
  height: 100%;
  margin: 0;

#vampire
  position: relative;
  size(23rem,16rem)
  horizontal-center()
  margin-top: calc(50vh - 11.5rem);
  &:hover
    animation-play-state: paused;

#hair
  size(13rem,16rem)
  background: $hairColor
  border-radius: 42% 48% 0 0 / 56% 60% 0 0;

#vampire div
  position: absolute;
  

#main
   top 1rem
   size(22rem,16rem)
   background: linear-gradient(to bottom,#212127 50%,$skin 50%);
   border-radius: 10rem 10rem 15rem 15rem/10rem 10rem 18rem 18rem;
   border-radius: 15rem 16rem 15rem 15rem/24rem 24rem 18rem 18rem;
   overflow hidden
   animationGo(faceChange)

.face
  size(14rem)
  background: $skin
  top: 7rem;
  border-radius: 0 85%;
  left: -1.3rem;
  transform: rotate(15deg);
  animationGo skinChange

.face_right
  left auto
  right: -1.3rem;
  transform: rotate(75deg);

.cheek
  scare()
  size(8rem,7rem)
  border-radius: 40%;
  left: -3rem
  bottom: 0rem;
  animationGo(cheeckSkinChange)

.cheek_right
  left:auto
  right -3rem


#mouth
  half-circle($mouthH)
  background: $mouthColor
  bottom: 2rem;
  horizontal-center()
  overflow: hidden;

.top_teeth
  left:0.4rem
  border-top:1.2rem solid white
  border-left:0.5rem solid transparent
  border-right:0.5rem solid transparent
  animationGo(topTeethChange)


.teeth_right
  left:auto
  right 0.4rem

.rectanlge
  size(0.5rem,70%)
  horizontal-center()
  background: white;

.bottom_teeth
  bottom:0rem
  left:1rem
  border-bottom:1.2rem solid white
  border-left:0.5rem solid transparent
  border-right:0.5rem solid transparent
  animationGo(bottomTeethChange)

.bottom_teeth_right
  left auto
  right:1rem

#nose
  half-circle($noseH)
  horizontal-center()
  top: 15rem;
  scare()
  animationGo(noseSkinChange)
  

.eye_border
  half-circle($eyeBorder)
  scare()
  top: 10rem;
  left: 0.5rem;
  transform: rotate(22deg);
  animationGo(cheeckSkinChange)

.eye
  half-circle($eyeH)
  background: $eyeColor
  top:0.5rem;
  horizontal-center()
  box-shadow  -0.2rem 0.1rem 0 0.1rem black;
  animationGo(eyeChange)

.eyebrow
  border-bottom: 1.2rem solid #221d21;
  border-left: 1rem solid transparent;
  border-right: 5rem solid transparent;
  top: -1.2rem;

.eye_border_right
  left:auto
  right 0.5rem
  transform: rotate(-22deg)

.eye_right
  box-shadow  0.2rem 0.1rem 0 0.1rem black;
  transform: translateX(-50%) rotateY(180deg);

.eyebrow_right
  border-left: 5rem solid transparent;
  border-right: 1rem solid transparent;

.ear
  size(6rem,6rem)
  background: $skin;
  border-radius 0 100%
  top 10rem
  left -3rem
  transform rotate(15deg)
  z-index -2
  animationGo(earChange)

.ear_right
  left auto
  right: -3rem;
  transform rotate(75deg)
  
/*************************************/
@keyframes backgroundChange
  0%
    background $BGColor
  100%
    background white
    

@keyframes eyeChange
  0%
    half-circle($eyeH)
    background: $eyeColor
    box-shadow  -0.2rem 0.1rem 0 0.1rem black;

  100%
    size($beforeEye)
    border-radius 50%
    background: #000;
    box-shadow  0 0 0 0.4rem white;


@keyframes skinChange
  0%
    background: $skin

  100%
    background: $beforeSkin;


@keyframes cheeckSkinChange
  0%
    scare()

  100%
    background: $beforeSkin;

@keyframes noseSkinChange
  0%
    scare()

  100%
    background: $beforeSkinDark;


@keyframes earChange
  0%
    scare()
    border-radius 0 100%
  100%
    background: $beforeSkin;
    border-radius 25% 100%


@keyframes topTeethChange
  0%
    border-top:1.2rem solid white
  100%
    border-top:0.5rem solid white

@keyframes bottomTeethChange
  0%
    border-bottom:1.2rem solid white
    width 0rem
  100%
    border-bottom:0.7rem solid white
    width 2rem


@keyframes faceChange
  0%
    background: linear-gradient(to bottom,#212127 50%,$skin 50%);
  100%
    background: linear-gradient(to bottom,#212127 50%,$beforeSkin 50%);


@keyframes clothesChange
  0%
    border-top 8rem solid #1a2a44
    border-left 5rem solid transparent
    border-right 5rem solid transparent
    border-bottom none;
  100%
    border-top none;
    border-bottom: 8rem solid #1a2a44;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
